<%- include('header.ejs') %>
    <div class="new-register">
        <h2>
            <%= title %>
        </h2>
        <form action="<%= action %>" method="POST">
            <label class="lab"> Task <input type="text" id="task" name="task" value="<%= docs.task %>"
                    class="input-task" /></label>
            <label class="lab"> Description <input type="text" id="desc" name="desc" maxlength="128" value="<%= docs.desc %>"
                    class="input-desc" /></label>
            <input type="submit" value="Registrar" class="input-btn" />
        </form>
    </div>